@charset "utf-8";
/* Basic rules for all devices based on mobiles*/
body {
    background-color: #770001;
    color: #440000;
}

p {
    font-size: large;
}

header {
    background-color: #aa0000;
    color: #ffbbbf;
}

article {
    background-color: #ff0300;
    color: #880300;
}

.position01 {
    width: 50px;
    height: 50px;
    background-color: #ffbdbb;
    font-weight: bold;
}

.position02 {
    width: 50px;
    height: 50px;
    background-color: #ff8888;
    font-weight: bold;
}

.position03 {
    width: 50px;
    height: 50px;
    background-color: #ff5557;
    font-weight: bold;
}