body {
	padding-top: 50px;
}

.draw-target {
	width: 74px;
	height:74px;
	background-color: #005500;
	position: relative;
	float: left;
	margin: 0px;
}

#monogoData {
	clear: both;
}

.starter-template {
  padding: 40px 15px;
  text-align: left;
}
